@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
{
	font-family: 'Source Sans Pro', sans-serif;
}

#main{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 460px;
}
.social1 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 500px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}


#tic{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 600px;
}
.social2 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 640px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}

#complex{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 740px;
}
.social3 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 770px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}

#trex{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 860px;
}
.social4 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 870px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}

#clock{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 940px;
}
.social5 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 990px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}

#pac{
    position: absolute;    
    margin: auto;
    top: 850px;
    font-size: 12px;
    margin-left: 1100px;
}
.social6 a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 1125px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}


#particles-js{
	background: firebrick;
    background-size: 100%;
	}
#text {
    max-width: 2000px;
    max-height: 0px;
    position: absolute;    
    color: orange;
    text-align: center;    
    font-size: 48px;
    width: 100%;
    top: 350px;
    filter: url(#fire);
}

.text h2
{
	color: #ffeb3b;
	font-weight: 600;
	text-shadow: 0 0 10px #ff8c3b,
	 0 0 10px #ff8c3b,
	 0 0 40px #ff8c3b,
	 0 0 80px #ff8c3b,
	 0 0 160px #ff8c3b,
	 0 0 240px #ff8c3b;
}

svg
{
	width: 0;
	height: 0;
}

