@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
{
	font-family: 'Source Sans Pro', sans-serif;
}
.social a {
    position: absolute; 
    width: 28px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: auto;
    margin-left: 900px;
    padding: 3px;
    text-align: center;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}

#particles-js{
	background: firebrick;
	height:970px;
	width:2000px;
}
#text {
    max-width: 2000px;
    max-height: 0px;
    position: absolute;    
    color: orange;
    text-align: center;    
    font-size: 48px;
    width: 100%;
    top: 350px;
    filter: url(#fire);
}

.text h2
{
	color: #ffeb3b;
	font-weight: 600;
	text-shadow: 0 0 10px #ff8c3b,
	 0 0 10px #ff8c3b,
	 0 0 40px #ff8c3b,
	 0 0 80px #ff8c3b,
	 0 0 160px #ff8c3b,
	 0 0 240px #ff8c3b;
}

svg
{
	width: 0;
	height: 0;
}

